{"filter":false,"title":".gitignore","tooltip":"/Frontend/Frontend/startbootstrap-scrolling-nav-gh-pages/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":34,"mode":"ace/mode/ini"}},"timestamp":1607381723322,"hash":"9193e35d8b7fc33d768461505160c12c96c608bd"}